<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Book Store</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
        body {
            background-image: url("https://youimg1.tripcdn.com/target/1A071b000001cev3dAA2C.jpg?proc=source%2Ftrip");
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1 {
            color: midnightblue;
        }

    </style>
</head>
<body>
<h1>Book Store</h1>
<h2>Successfully Logged In!</h2>
<H2>Welcome  <span th:text="${user.name}"></span></H2>
<form action="/bookstore" method="post">
    <input th:field="${user.email}" type="hidden">
    <input th:field="${user.password}" type="hidden">
    <input th:field="${user.name}" type="hidden">
    <input th:field="${user.purchasedBooks}" type="hidden">
    <input th:field="${user.id}" type="hidden">
    <input th:field="${user.shoppingCart}" type="hidden">
    <input type="submit" value="Go to Book Store Library"/>
</form>
<form action="/shopping" method="post">
    <input th:field="${user.shoppingCart}" type="hidden">
    <input type="submit" value="Go to Shopping Cart"/>
</form>
</body>
</html>
